{
  "plugins": ["stylelint-less"],
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-css-modules",
    "stylelint-config-prettier"
  ],
  "rules": {
    "at-rule-no-unknown": null,
    "less/color-no-invalid-hex":true
  }
}